.color{
	background: #000;
	}
.color2{
	background: #ED1B24;
	color: #fff;
}
.color3{
	background: url(../sketch/tres.png);
	color: #fff;
	background-size: 100% ; 
	font: 200% sans-serif;
}
button{
	background: black;
}
#texto{
    color: black;
}

.scrollVertical{
/* Scroll Bar Vertical en la tabla del JSON */
display: block;
  height: calc(80vh - 1px);
  min-height: calc(500px + 1px);
  /*use calc for fixed ie9 & <*/
  overflow-Y: scroll;
  }